<h1>
  Restaurants works!
</h1>
<table class="table">
  <thead class="thead-dark table-striped table-bordered">
  <tr>
  	<th>Name</th>
  	<th>Cuisine</th>
    <th>Building#</th>
    <th>Co-Ordinates</th>
    <th>Borough</th>
    <!-- <th>Date</th> -->
    <th>Grade</th>
    <!-- <th>Score</th> -->
  </tr>
  </thead>
  <tbody class="table-striped table-bordered">
  <tr *ngFor="let restaurant of restaurants">
    <td>{{restaurant.name}}</td>
    <td>{{restaurant.cuisine}}</td>
    <td>{{restaurant.address.building}}</td>
    <td>{{restaurant.address.coord}}</td>
    <td>{{restaurant.borough}}</td>
    <!-- <td>{{restaurant.grades.date}}</td> -->
    <td>{{restaurant.grades}}</td>
    <!-- <td>{{restaurant.grades.score}}</td> -->
  </tr>
  </tbody>
</table>