<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">



<nav>
  
</nav>

<!-- <nav class="navbar navbar-dark bg-dark">
  <a routerLink="/">Home</a>
  <a routerLink="/books">Books</a>
  <a routerLink="/restaurants">Restaurants</a>
</nav>
 -->
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/restaurants">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/automobiles">Automobiles</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
<h1></h1>
<h4>Connected to MongoDB</h4>
</div>

<ul>
  <li>List of books in <strong>Database:imports</strong> && <em>Collection:books</em></li>
  <li>List of restaurants in <strong>Database:imports</strong> && <em>Collection:restaurants</em></li>
  <li>List of automobiles in <strong>Database:Vehicles</strong> && <em>Collection:restaurants</em></li>
</ul>
